<div class="dashboard-container">
  <nav class="navbar">
    <div class="logo">MyApp</div>
    <div class="links">
      <a *ngIf="!loggedIn" routerLink="/signup">Signup</a>
      <a *ngIf="!loggedIn" routerLink="/login">Login</a>
      <a *ngIf="loggedIn" (click)="logout()">Logout</a>
    </div>
  </nav>
  <main class="main-content">
    <h2 *ngIf="!loggedIn">Welcome to the Dashboard </h2>
    <h2 *ngIf="loggedIn">Welcome back, {{ userName }} 🎯</h2>

    <p>This is your protected zone. 🎯</p>
  </main>
</div>