<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/ess/all.min.css">
<div class="container">
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form [formGroup]="loginForm" (ngSubmit)="loggedUser()">
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="text" formControlName="email" placeholder="Email or Phone" required />
            </div>
            <div class="row">
                <i class="fas fa-lock"></i>
                <input type="password" formControlName="password" placeholder="Password" required />
            </div>
            <!-- <div class="pass"><a href="#">Forgot password?</a></div>  -->
            <div class="row button">
                <input type="submit" value="Login" />
                 
    </div>
    <div class="signup-link">Not a member? 
        <a routerLink="./signup">Sign Up now</a> 
        <a style="padding-left: 10px;" routerLink="./dashboard">Dashboard</a> 
    </div>
    </form>
    </div>
</div>